<%= provide :stylesheets do %>
    <%= stylesheet_link_tag    "apply", media: "all", "data-turbolinks-track" => true %>  
<% end %>
<div class="center-container">
		<!--header-->
		<div class="header-w3l">
			<a class="navbar-brand" href="/">
				<h1 style="color:#89379a;">Travfi</h1>
			</a>
			</p>
		</div>
		<!--//header-->
		<!--main-->
	<div class="agileits-register">
		<form action="/apply" method="post">
				<div class="w3_modal_body_grid w3_modal_body_grid1">
					<span>Agency Trade Name:</span>
					<input type="text" name="agency[trade_name]" placeholder="Agency Trade Name" required=""/>
					<div class="clear"> </div>
				</div>
				<div class="w3_modal_body_grid w3_modal_body_grid1">
						<span>Address:</span>
						<input type="text" name="agency[address]" placeholder="Address" required=""/>
						<div class="clear"> </div>
				</div>
				<div class="w3_modal_body_grid w3_modal_body_grid1">
					<span>State:</span>
					<input type="text" name="agency[state]" placeholder="State" required=""/>
					<div class="clear"> </div>
			    </div>
				<div class="w3_modal_body_grid w3_modal_body_grid1">
					<span>City:</span>
					<input type="text" name="agency[city]" placeholder="City" required=""/>
					<div class="clear"> </div>
				</div>
				<div class="w3_modal_body_grid w3_modal_body_grid1">
					<span>Postal code:</span>
					<input type="text" name="agency[postal_code]" placeholder="Postal Code" required=""/>
					<div class="clear"> </div>
				</div>
				<div class="w3_modal_body_grid w3_modal_body_grid1">
					<span>Telephone:</span>
					<input type="text" name="agency[telephone]" placeholder="Telephone" required=""/>
					<div class="clear"> </div>
				</div>
				<div class="w3_modal_body_grid w3_modal_body_grid1">
					<span>Internet Address/Website:</span>
					<input type="text" name="agency[website]" placeholder="Internet Address/Website" required=""/>
					<div class="clear"> </div>
				</div>
				<div class="w3_modal_body_grid w3_modal_body_grid1">
					<span>Active Booking Number:</span>
					<input type="text" name="agency[booking_number]" placeholder="Active Booking Number" required=""/>
					<div class="clear"> </div>
				</div>
				<div class="w3_modal_body_grid w3_modal_body_grid1">
					<span>Registered Company Number:</span>
					<input type="text" name="agency[company_number]" placeholder="Registered Company Number" required=""/>
					<div class="clear"> </div>
				</div>	
				<div class="w3_modal_body_grid w3_modal_body_grid1">
					<span>IATA Number:</span>
					<input type="text" name="agency[iata_number]" placeholder="IATA Number" required=""/>
					<div class="clear"> </div>
		    	</div>	
				<div class="w3_modal_body_grid">
				
				<input type="submit" value="Submit" />
				<div class="clear"></div>
			</form>
		</div>
		
		<!--//main-->
		
	</div>