<% @title="Login to TravFi" %>
        <div class="container">
        <header>
            <!-- <h1>SIGNUP</h1> -->
        </header>
        <section>				
            <div id="container_demo">
                <a class="hiddenanchor" id="toregister"></a>
                <a class="hiddenanchor" id="tologin"></a>
                <div id="wrapper">
                <% flash.each do |key, value| %>
                    <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>

                    <div id="login" class="animate form">
                        <form  action="/login" autocomplete="on" method="post">
                            <h1>Log in</h1> 
                            <input type="hidden" name="authenticity_token" 
                                value="<%= form_authenticity_token() %>"  />
                            <p> 
                                <label for="username" class="uname" data-icon="u" > Your email </label>
                                <input id="username" name="user[email]" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
                            </p>
                            <p> 
                                <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                                <input id="password" name="user[password]" required="required" type="password" placeholder="eg. X8df!90EO" /> 
                            </p>
                            <p class="keeplogin"> 
                                <input type="checkbox" name="user[loginkeeping]" id="loginkeeping" value="loginkeeping" /> 
                                <label for="loginkeeping">Keep me logged in</label>
                            </p>
                            <p class="login button"> 
                                <input type="submit" value="Login" /> 
                            </p>
                            <p class="change_link">
                                Not a member yet ?
                                <a href="#toregister" class="to_register">SIGNUP</a>
                            </p>
                        </form>
                    </div>

                    <div id="register" class="animate form">
                        <form  action="/signup" autocomplete="on" method="post"> 
                            <input type="hidden" name="authenticity_token" 
                                value="<%= form_authenticity_token() %>"  />
                            <h1> Sign up </h1> 
                            <p> 
                                <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
                                <input id="usernamesignup" name="user[username]" required="required" type="text" placeholder="mysuperusername690" />
                            </p>
                            <p> 
                                <label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
                                <input id="emailsignup" name="user[email]" required="required" type="email" placeholder="mysupermail@mail.com"/> 
                            </p>
                            <p> 
                                <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                                <input id="passwordsignup" name="user[password]" required="required" type="password" placeholder="eg. X8df!90EO"/>
                            </p>
                            <p> 
                                <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                                <input id="passwordsignup_confirm" name="user[password_confirm]" required="required" type="password" placeholder="eg. X8df!90EO"/>
                            </p>
                            <p class="signin button"> 
                                <input type="submit" value="Sign up"/> 
                            </p>
                            <p class="change_link">  
                                Already a member ?
                                <a href="#tologin" class="to_register"> Go and log in </a>
                            </p>
                        </form>
                    </div>
                    
                </div>
            </div>  
        </section>
    </div>