<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @page_title %></title>
  <%= csrf_meta_tag %>
  <meta name="description" content="<%= @page_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!-- include dynamic stylesheets -->
  <%= yield :stylesheets %>
  <!--[if (lt IE 9) & (!IEMobile)]>
    <%= javascript_include_tag "application" %>
  <![endif]-->
</head>
<body>
  <%= yield %>

  <%= yield :scripts %>
</body>
</html>